/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13/10/2014, 11:11:10 AM
    Author     : geovanny
*/
body
{
       
    background: url(../imagenes/body-bkg.png) repeat-x scroll 0% 0% #C8CDD6;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100%;
    
}

#espacioDeTrabajo
{    
    margin: 0 auto;
    width: 1200px;
    border: 1px  solid #000000;
}


#encabezado
{   
    width: auto;
    margin: auto;
    background-color: #092169;
    padding: 30px 0 0 ;
    
}
#encabezado .arriba
{
    background-color: #22419A;
    position: relative;
    width: auto;
    height: 90px;
    
}

#encabezado .arriba .bordeRedondo
{
    position: absolute;
	width: 130px;
	height: 130px;
	border-radius: 80px;
	margin-left: 125px;
	background-color: #22419A;
	top: -20px;
}

#encabezado .arriba .logoUnicauca
{
    
    position: relative;
    z-index: 1;
    margin-left: 148px;
	padding-top: 2px;
	float: left;
}

#encabezado .arriba .logoUnicauca a
{
    width: 192px;
    height: 90px;
    display: block;
    background: url(../imagenes/logo-unicauca.png) no-repeat;
}
#encabezado .arriba .tituloPrincipal
{
    float:left;    
    text-transform: uppercase;
    margin-top: 40px;
    margin-left: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;        
}

#encabezado .arriba .CuadroDeBotonesSesion
{
    position: absolute;
    padding: 5px;
    color: #FFFFFF;
    text-align: center;
    border: 1px  solid #ffffff;
    border-style: dashed;
    right: 20px;
    top: 10px;
    border-radius: 10px;    
}

#encabezado .arriba .CuadroDeBotonesSesion .botonSesion
{
     background: #092169;
     font-size: 15px;
     padding: 5px 5px 5px 5px;
     border-radius: 5px;
     margin-bottom: 5px;
}

#encabezado .arriba .CuadroDeBotonesSesion  .botonSesion:hover
{
    cursor: pointer;
    background: #0B0B3B;
    
}

#encabezado .medio
{
    height: 60px;
    width: auto;
    background: url(../imagenes/bkg-cabecera-rojo.png) repeat-y;
}

#encabezado .abajo
{
    width: auto;
    height: 50px;
    text-align: left;    
    padding-left: 90px;
}

#encabezado .abajo .OpcionesMenu
{
    float:left;
    width: auto;
    text-align: left;
    padding: 15px;    
}
#encabezado .abajo a
{
    text-decoration: none;
    color:#D8D8D8;
    font-size: 15px;
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
}


#encabezado .abajo .OpcionesMenu:hover
{
    cursor: pointer;
    background: #0B0B3B;
}



#piePagina
{
    width: auto;    
    margin: auto;
    background: url(../imagenes/bkg-footer.jpg) repeat-x 0% 41px; 
    background-color: #FFFFFF;
    padding: 0px;
}

#piePagina .separador
{
    background: url(../imagenes/foot-bkg.gif) no-repeat;
    width: auto;
    margin-left: 140px;
    height: 75px;
}

#piePagina .pie
{
    background: url(../imagenes/bkg-cabecera-rojo.png) repeat-y;
    width: auto;
    height: 60px;
    border-top: 5px solid #092169;
}

#piePagina .pie .decoracion 
{
	width: 132px;
	height: 59px;
}
			
#piePagina .pie .decoracion.izq
{
	background: url(../imagenes/fon-izq-footer-inf.gif) no-repeat;
	float: left;
}

#piePagina .pie .decoracion.der 
{
	background: url(../imagenes/fon-der-footer-inf.gif) no-repeat;
	float: right;
}
#iniciosesion
{
    display: none;
}

#contenido
{
    overflow: hidden;
    width: auto;
    margin: auto;   
}
#registro
{
    display: none;
}

#menuIzquierdo
{
    float: left;   
    width: 220px;    
}
#espacioContenido
{
    margin-left: 220px;
    text-align: left;   
}
#contenidoAdmin
{
    overflow: hidden;
    width: auto;
    margin: auto;   
}
