/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-mar-2015, 18:32:17
    Author     : pcblanco
*/

/*
.fichapersonal
{
 width: auto;
 margin-top: 15px;
 margin-left: 20px;
 float: left;
 
}
.fichapersonal tr,.fichapersonal td
{
  border-color: #ffffff !important;
  background-color: #F0F0F0;
}
*/
.subtitulotabla
{
    color: #092169;
    font-size: 18px !important;
}
.fuentefichatabla
{
    font-size: 15px !important;
}

.titulomediciones
{
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 28px;
    color: wheat;
    background-color: #CC1414;
    border-radius: 5px;
    float: left;
}

.acciones
{
    margin-top: 25px !important;
    float: left;
}

.panelmedidas
{
    margin-top: 20px;
    margin-left: 25px;
    float: left;
    font-weight: bold;
}

.panelmedidas thead td{
   background-color: #EBEDEB;
   font-size: 16px;
   color:  #3C3C3C;
   font-weight: normal;
}

.btncalcularmedidas
{
    margin-top: 350px;
    display: inline;
    float: left;
    margin-left: 25px;
}

.btncalcularfrecuencias
{
    margin-top: 50px;
    display: inline;
    float: left;
    margin-left: 25px;
}


.btncalculartest
{
    margin-top: 40px;
    float: left;
    margin-left: 20px;
    margin-right: 20px;
    
}
.imagenmedidas
{
    margin-left: 340px;
}

.imagenmedidas9
{
    float: right;
    margin-top: 150px;
    margin-right: 100px;
}
.btnesaccionesmediciones
{
    margin-right: 20px;
    margin-top: 20px;
}

.btnguardarmed
{
    bottom: 0;
    right: 0;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
}

.Menuagregartest
{
    width:600px;
    margin-top: 30px; 
    font-size: 19px;
    float: left;
}

.txtboxmed
{
    width:80px;
    text-align: right;
    float: right
}

.histmedpanel
{
    margin-top: 45px !important;
    float: left;
    font-size: 12px;
    width: 100%;
}

.histmedpanel .ui-widget-content {
    background-color: whitesmoke ;
    color: #3C3C3C;
}

.histmedpanel thead td{
   font-size: 15px;
   color:   #000000;
   text-shadow: none; 
}

.paneleshistmed{
    margin-top: 15px;
    width: 200px;
}

.paneleshistmed thead td{
   background-color: #EBEDEB;
   font-size: 16px;
   color:  #3C3C3C;
}

.paneleshistmed td {
    background-color: white;
}

.subtitulotablahist
{
    font-size: 18px !important;
}

.migadepan
{
    background: #eaeacd;
    margin-top: 50px;
}

.selectonemenuhist
{
    margin-top: 10px !important; 
    width: 80% !important;
    font-size: 13px !important;
}

.panelselectonemenuhist
{
    margin-left: auto;
    margin-right: auto;
}

.paneltab
{
    background: whitesmoke;
    overflow: hidden;
}

.subtitpaneltest
{
    color: black;
}

.separadorTest
{
   width: 750px;
   margin-top: 25px;
   margin-bottom: 25px;
}

.separadorTestUsuario
{
   width: 600px;
   margin-top: 25px;
   margin-bottom: 25px;
}

.panelayuda
{
    float: left;
    background-color: #F2F2F2;
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}